<h3>Trainer</h3>
<p>Name: <%= @trainer.name if @trainer.name %></p>
<p>Email: <%= @trainer.email if @trainer.email %></p>

<h4>Pokemon:</h4>
<ul>
	<% @trainer.pokemons.each do |poke| %>
		<li> Name: <%= poke.name %>, Level: <%= poke.level%>, Health: <%= poke.health %> <%= button_to "Damage", damage_path(id: poke.id), :class => "button small", :method => :patch %></li>
	<% end %>
</ul>

<% if current_trainer.id == @trainer.id %>
<%= button_to "Create New Pokemon", pokemons_new_path, :class => "button medium", :method => "get"%>
<% end %>

